
body {
    background-color: bisque;
}

.site-head {
    margin-left: 50px;
    font-size: 35px;
    text-decoration: underline;
    text-transform: uppercase;
    color: rgb(165, 40, 40);
}

div {
    color: blueviolet;
}

nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: brown;
    font-size: large;
    margin-left: 40px;
}
.change-page {
    display: inline;
    color: black;
    font-size: large;
    margin-left: 40px;
}


h2 {
    margin-top: 1cm;
}
h2 a {
    text-decoration: none;
    color: rgb(120, 0, 175);
}

.text {
    color: rgb(150, 75, 25);
}